﻿
<h2>Registracija</h2>

@model MongoFrontend.Models.Korisnik

<div class="registracija-pozadina">
      <div class="registracija-vertical-place-up">
      </div>
      <div class="registracija-vertical-text-place">
            <div class="registracija-horizontal-space">
            </div>
            <div class="registracija-text-container">
                <div class="registacija-text-vert-space">
                </div>
                <div class="registracija-form-container">
                    <div class="registacija-text-hor-space">
                    </div>
                     @using (Html.BeginForm("CreateKorisnik", "Registracija", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "registracija-form", encType = "multipart/form-data" }))
                     {
                         @Html.AntiForgeryToken()

                          @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "registracija-form-element",@id="registracija-username" ,placeholder="Username" } })
                          if (ViewBag.NeuspesnaRegistracija!=null)
                          {
                            <p id="registracija-greska-text" style="color:red; text-align:center"> Username koji ste izabrali je vec zauzet! </p> 
                          }
                          @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "registracija-form-element", @id = "registracija-password", placeholder = "Password" } })

                          @Html.EditorFor(model => model.Ime, new { htmlAttributes = new { @class = "registracija-form-element", placeholder = "Ime", @id = "registracija-ime", @Value = @ViewBag.Ime } })

                         @Html.EditorFor(model => model.Prezime, new { htmlAttributes = new { @class = "registracija-form-element", placeholder = "Prezime", @id = "registracija-prezime", @Value = @ViewBag.Prezime } })

                         <input type="submit" value="Registrujte se" class="registracija-form-element" id="registracija-btn"/>
                     }
                    <div class="registacija-text-hor-space">
                    </div>
                </div>
                <div class="registacija-text-vert-space">
                </div>
            </div>
            <div class="registracija-horizontal-space">
            </div>
      </div>
      <div class="registracija-vertical-place-down">
      </div>
</div>

<script src="@Url.Content("../../Scripts/Registracija.js")" type="text/javascript"></script>


