﻿
@{
    ViewBag.Title = "Brisanje akorda";
}

@if (!ViewBag.Uspesno)
{
    <h2 style="color:red; height:450px; margin-top:100px">Neuspesno brisanje pesme!</h2>
}
@if (ViewBag.Uspesno)
{
    <h2 style="height:450px; margin-top:100px">Uspesno brisanje pesme!</h2>
}


