﻿@using MongoFrontend.Models
@model MongoFrontend.Models.Komentar

@{
    ViewBag.Title = "Komentar";
}

<h2>Dodavanje komentara:</h2>

<div class="dodavanje-komentara-container">
    <div class="dodavanje-komentara-form-container">
        <h3> @ViewBag.Pesma.Artist - @ViewBag.Pesma.Name </h3>
        @using (Html.BeginForm("DodajKomentar", "Pesma", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "dodavanje-pesme-form", encType = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.EditorFor(model=>model.Id_song, new { htmlAttributes = new { style = "display:none", @Value = ViewBag.Pesma._id } })

            <h3> Komentar: </h3>

            @Html.TextAreaFor(model => model.Comment, new { @class = "dodavanje-komentara-komentar dodavanje-pesme-akordi", placeholder = "Komentar" })

            <input type="submit" value="Dodaj komentar" id="dodavanje-komentara-btn" />
        }
    </div>
    <div class="dodavanje-komentara-slika">
    </div>
</div>
<script src="@Url.Content("../../Scripts/DodavanjeKomentara.js")" type="text/javascript"></script>


