﻿
<h2>Dodavanje pesme</h2>
@model MongoFrontend.Models.Pesma

<div class="dodavanje-pesme-form-container">
    @using (Html.BeginForm("DodajPesmu", "Pesma", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "dodavanje-pesme-form", encType = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        
        @Html.EditorFor(model => model.Artist, new { htmlAttributes = new { @class = "dodavanje-pesme-izvodjac", placeholder = "Izvodjac" } })

        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "dodavanje-pesme-naslov", placeholder = "Naslov pesme" } })

        <h3> Akordi: </h3>

        @Html.TextAreaFor(model => model.Chords, new { @class = "dodavanje-pesme-akordi", placeholder = "Akordi"})

        <input type="submit" value="Dodaj" id="dodavanje-pesme-btn" />
    }
    <div class="dodavanje-pesme-slika-cont">
    </div>
</div>

<script src="@Url.Content("../../Scripts/DodavanjePesme.js")" type="text/javascript"></script>

