﻿
@{
    ViewBag.Title = "Akordi";
}


<h2>@ViewBag.Pesma.Artist - @ViewBag.Pesma.Name</h2>

<div class="prikaz-akorda-container">
    <div class="prikaz-akorda-akordi-container">
        <textarea readonly class="prikaz-akorda-akordi-tarea"> @ViewBag.Pesma.Chords </textarea>
    </div>
    <div class="prikaz-akorda-slika-container">
    </div>
</div>

<h4> Autor: @ViewBag.KorisnikUsername</h4>

<hr/>

@if (Context.Session["username"] != null && Context.Session["at"] != null)
{
    if (Context.Session["username"].Equals(@ViewBag.KorisnikUsername))
    {
        <div class="prikaz-akorda-komentar-btn-cont">
            @Html.ActionLink("Izmeni akorde", "IzmenaPesme", "Pesma", new { id = @ViewBag.Pesma.Name }, null)
            @Html.ActionLink("Obrisi akorde", "BrisanjePesme", "Pesma", new { id = @ViewBag.Pesma._id }, new { @style = "margin-left:20px" })
        </div>
    }
    <hr/>

    <div class="prikaz-akorda-komentar-btn-cont">
        @Html.ActionLink("Dodaj komentar", "DodavanjeKomentara", "Pesma", new { id = @ViewBag.Pesma.Name }, null)
    </div>
}

<h3> Komentari:</h3>
<div class="prikaz-akorda-komentari-container">
    @{ 
        foreach(List<string> komIkor in ViewBag.Komentari)
        {
            <hr/>
            <div class="prikaz-akorda-kom-container">
                <p>Korisnik: @komIkor[0] </p>
                <textarea readonly class="prikaz-akorda-komentar"> @komIkor[1] </textarea>
            </div>
            <hr/>
        }
    }
</div>