﻿
@{
    ViewBag.Title = "Izmena";
}
@model MongoFrontend.Models.Pesma

<h2>Izmena akorda</h2>

<div class="dodavanje-pesme-form-container">
    @using (Html.BeginForm("IzmeniPesmu", "Pesma", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "dodavanje-pesme-form", encType = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h3> @ViewBag.Pesma.Artist - @ViewBag.Pesma.Name</h3>

        @Html.EditorFor(model => model.Artist, new { htmlAttributes = new { @class = "dodavanje-pesme-izvodjac", @readonly = "readonly", placeholder = "Izvodjac", @Value = ViewBag.Pesma.Artist, @style="display:none" } })

        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "dodavanje-pesme-naslov", @readonly = "readonly", placeholder = "Naslov pesme", @Value = ViewBag.Pesma.Name, @style = "display:none" } })

        <h3> Akordi: </h3>

        @Html.TextAreaFor(model => model.Chords, new { @class = "dodavanje-pesme-akordi", placeholder = "Akordi"})

        <input type="submit" value="Izmeni" id="dodavanje-pesme-btn" />
    }
    <div class="dodavanje-pesme-slika-cont">
    </div>
</div>
<script src="@Url.Content("../../Scripts/DodavanjePesme.js")" type="text/javascript"></script>



