﻿
@{
    ViewBag.Title = "Prijava";
}

<h2>Prijava</h2>

@model MongoFrontend.Models.Korisnik

<div class="prijava-pozadina">
    <div class="registracija-vertical-place-up">
    </div>
    <div class="registracija-vertical-text-place">
        <div class="registracija-horizontal-space">
        </div>
        <div class="prijava-text-container">
            <div class="registacija-text-vert-space">
            </div>
            <div class="registracija-form-container">
                <div class="registacija-text-hor-space">
                </div>
                @using (Html.BeginForm("PrijaviKorisnika", "Prijava", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "registracija-form", encType = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "registracija-form-element", @id="prijava-username", placeholder = "Username" } })
                   
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "registracija-form-element", @id="prijava-password", placeholder = "Password" } })

                    if (ViewBag.NeuspesnaPrijava!= null)
                    {
                        <p id="neuspesnaPrijavaTxt" style="color:red; text-align:center"> Username ili password koji ste uneli su pogresni! </p>
                    }

                    <input type="submit" value="Prijavite se" class="registracija-form-element" id="prijava-btn" />
                }
                <div class="registacija-text-hor-space">
                </div>
            </div>
            <div class="registacija-text-vert-space">
            </div>
        </div>
        <div class="registracija-horizontal-space">
        </div>
    </div>
    <div class="registracija-vertical-place-down">
    </div>
</div>

<script src="@Url.Content("../../Scripts/Prijava.js")" type="text/javascript"></script>





