﻿
<h2>Bend @ViewBag.Bend</h2>

<div class="bend-pesme-container">
    <div class="bend-pesme-pesme-container">
    @{
        foreach (string pesma in ViewBag.Pesme)
        {
            <hr/>
            @Html.ActionLink(pesma, "Index", "Pesma",new { id=pesma},null);
        }
    }
    <hr/>
    </div>
    <div class="bend-pesme-place">
    </div>
</div>
