﻿
@{
    ViewBag.Title = "Bendovi";
}

<h2>Bendovi na slovo @ViewBag.Slovo</h2>
<div class="kontejner-bendovi  bg-info mb-3">
    <div class="kontejner-manji-bendovi-space">
    </div>
    <div class="kontejner-manji-bendovi">
            @{
                foreach (String bend in ViewBag.Bendovi)
                {
                    <div class="kontejner-najmanji-bendovi">
                        @Html.ActionLink(bend, "BendPesme", "Bendovi", new { id = bend }, new {@class="action-link-bendovi"})
                    </div>
                }
            }
    </div>
</div>

